* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 4%;

    background-image: url(./images/pattern-background-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f5f7ff;  
}

.card_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 450px;
    margin-bottom: 1.2rem;
    border-radius: 1.2rem;
    background-color: white;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.hero img {
    width: 100%;
    max-width: 450px;
    /* min-height: 164px; */
}

.card_content {
    padding: 2.3rem 1.5rem 2.1rem;
}

.card_title {
    font-size: 1.1rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1.5rem;
}

.card_description {
    text-align: center;
    line-height: 1.7rem;
    color: #1f2f56;
    padding: 0 5%;
}

.card_plan {
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f7ff;
    border-radius: 0.7rem;
    padding: 0.6rem;
    margin-bottom: 1.4rem;
}

.card_resume {
    display: flex;
}

.card_type {
    font-size: 0.9rem;
    font-weight: 800;
    margin-bottom: 0.6rem;
}

.card_price {
    font-size: 0.9rem;
    color: #1f2f56;
}

.card_icon {
    width: 3rem;
    margin-right: 1.1rem;
}

.card_plan a {
    font-size: 0.9rem;
    font-weight: 900;
    color: #3829e0;
    cursor: pointer;
}

.card_plan a:active {
    color: #766cf1;
}

.btn_primary {
    padding: 1rem 4rem;
    font-weight: 700;
    color: #f5f7ff;
    display: inline;
    width: 100%;
    background-color: #3829e0;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    box-shadow: -9px 17px 21px 0px rgba(224,232,255,0.51);
}

.btn_primary:active {
    background-color: #766cf1;
}

.btn_secondary {
    text-decoration: none;
    margin-left: 40%;
    font-weight: 700;
    cursor: pointer;
    color: #7280a7;
}

.btn_secondary:active {
    color: #1f2f56;
}

@media (min-width: 576px) {
    body {
        background-image: url(./images/pattern-background-desktop.svg);
        max-width: 1440px; 
    }

}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }